// ================ LOCAL PROJECT VARIABLES: ==================

$grid-columns: 12;

$grid-gutter-width: 4px;

$grid-breakpoints: (
  xxs: 0px,
  xs: 360px,
  tn: 426px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1450px
);

$container-max-widths: (
  sm: 532px,
  md: 700px,
  lg: 774px,
  xl: 1026px,
  xxl: 1236px
);

// Gutter for screens <360px
.row > .col, .row > [class*="col-"] { padding-right: 12px; padding-left: 12px; }
.row{ margin-right: -12px; margin-left: -12px; }
@media (min-width: map-get($grid-breakpoints, xs)){
    .row > .col, .row > [class*="col-"] { padding-right: 20px; padding-left: 20px; }
    .row{ margin-right: -20px; margin-left: -20px; }
}
@media (min-width: map-get($grid-breakpoints, tn)){
    .row > .col, .row > [class*="col-"] { padding-right: 20px; padding-left: 20px; }
    .row{ margin-right: -40px; margin-left: -40px; }
}
@media (min-width: map-get($grid-breakpoints, sm)){
    .row > .col, .row > [class*="col-"] { padding-right: 0; padding-left: 0; }
    .row{ margin-right: 0; margin-left: 0; }
}

$black: #000003;
$white: #ffffff;
$grey: #2a2a2c;
$facebook: #3D5A96;
$twitter: #2AA3EF;
$yellow: #ffcd03;

// ================ EFFECTS: ==================
$snappy : cubic-bezier(0.694,  0.048, 0.335, 1.000);


// ================ STYLES IMPORT: ==================

@import './../../../node_modules/bootstrap/scss/bootstrap-grid.scss';

// font-family 'Poppins':
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');

// font-family 'LabMono':
@font-face {
    font-family: 'LabMono';
    src: url( '../../../static/fonts/Lab-Mono-master/webfont/labmono-regular-web.eot' );
    src: url( '../../../static/fonts/Lab-Mono-master/webfont/labmono-regular-web.eot?#iefix' ) format( 'embedded-opentype' ),
         url( '../../../static/fonts/Lab-Mono-master/webfont/labmono-regular-web.woff2' ) format( 'woff2' ),
         url( '../../../static/fonts/Lab-Mono-master/webfont/labmono-regular-web.woff' ) format( 'woff' ),
         url( '../../../static/fonts/Lab-Mono-master/webfont/labmono-regular-web.ttf' ) format( 'truetype' );
    font-weight: normal;
    font-style: normal;
}


@import "_mixins.scss";
@import "_global.scss";
@import "_header.scss";
@import "_footer.scss";
